body {
    font-family: $base-font;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $brown;
        line-height: 1em;
        text-transform: uppercase;

        .unbold {
            font-weight: 100;
        }
    }

    h1 {
        font-size: 50px;
        font-weight: bold;
        margin: 20px 0;
    }

    h2 {
        font-size: 30px;
        font-weight: 600;
        text-transform: uppercase;
    }

    p,
    ul {
        font-family: $secondary-font;
        font-size: 18px;
        font-weight: normal;
        line-height: 1.4em;
        margin: 15px 0;
    }

    ul {
        padding-left: 20px;
        list-style-type: disc;
        text-align: left;
    }

    i {
        font-style: italic;
    }

    .container {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: $content-max-width;
        padding: 50px;
        text-align: left;

        &.column {
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        &.flush-left {
            align-items: flex-start;
        }

        @media screen and (max-width: $md-breakpoint) {
            padding: 5%;
        }

        @media screen and (max-width: $lg-breakpoint) {
            text-align: center;

            p {
                text-align: left;
            }
        }
    }


    .two-column {
        display: flex;
        width: 100%;

        @include flex-col-layout();

        h2 {
            margin: 30px 0 20px;
        }

        >div {
            margin: 0 auto;
            padding: 30px;
            width: 50%;

            @include mobile-full-width();
        }

        span {
            font-weight: bold;
        }

        .unbold {
            font-weight: 100;
        }

        .image-box {
            width: 40%;
        }
    }

    .grid {
        display: flex;
        justify-content: space-between;
        width: 100%;

        @include flex-col-layout($md-breakpoint);

        @media screen and (max-width: $md-breakpoint) {
            margin-top: 30px;
        }

        >div {
            align-items: center;
            display: flex;
            justify-content: center;
        }

        &.three {

            >div,
            >a {
                width: 33.3%;

                @include mobile-full-width($md-breakpoint);
            }
        }

        &.four {

            >div {
                width: 25%;

                @include mobile-full-width($md-breakpoint);
            }
        }
    }

    .scroller {
        margin-bottom: 0 !important;
        width: 100%;
        overflow-x: hidden;

        .slick-dots {
            bottom: 20px;
        }

        .slick-slide {
            position: relative;
        }

        .btn {
            bottom: 80px;
            display: flex;
            left: 60%;
            position: absolute;

            @media screen and (max-width: $lg-breakpoint) {
                bottom: 30px;
            }

            @media screen and (max-width: $md-breakpoint) {
                bottom: 20px;
            }

            a {
                display: flex;

                @media screen and (max-width: $md-breakpoint) {
                    font-size: 18px;
                    padding: 3px;
                }
            }
        }
    }

    iframe {
        width: 100% !important;
    }

    .contact-form {
        background: $off-black;

        .container {
            flex-direction: column;
        }

        h3 {
            color: $white;
            text-align: center;
            text-transform: none;
        }

    }

    #wufoo-z10ngrw51p7rqnm {
        width: 100%;
    }

    .btn {
        box-shadow: -2px 1px 12px -2px rgba(0,0,0,0.75);
-webkit-box-shadow: -2px 1px 12px -2px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 1px 12px -2px rgba(0,0,0,0.75);
        color: $white;
        cursor: pointer;
        font-size: 1.3em;
        font-weight: 200;
        padding: 10px 40px;
        text-transform: uppercase;

        a {
            color: $white !important;
            font-weight: 100 !important;
            font-size: 25px !important;
        }

        &.brown {
            background: $brown;
        }
    }

    em {
        font-style: italic;
    }

}