

// Fonts
$base-font: 'Poppins', sans-serif;
$secondary-font: 'Poppins', sans-serif;
$font-stack-system: $base-font;

// Colors 

$black: #000;
$white: #fff;
$brown: #872f01;
$gray: #c7c7c7;
$gray-bg: #eaeaea;
$header-gray: #636261;
$footer-bg: #2f455f;
$off-black: #1A1A1A;
$dark-gray: #323232;
$table-gray: #444444;


// Menu 

$menu-transition: all .5s ease-out;

// Breakpoints

$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;

// Sizes 

$content-max-width: 1200px;

$topbar-height: 50px;
$topbar-mobile-height: 90px;


// Margins

$header-top-margin: 70px;
$h2-top-margin: 25px;