
footer {
	background: black;
	border-bottom: 15px solid $brown;
	color: white;
	padding-bottom: 50px;

	.container {
		margin: 0 auto;
		text-align: left;
		font-size: 12px;

		&:first-child {
			border-bottom: 1px solid $white;
		}

		@media only screen and (max-width: $lg-breakpoint) {
	        align-items: center;
	        flex-direction: column;
	    }

		h2 {
			color: $white;
			font-size: 16px;
			margin: 0;
		}

		p {
			font-size: 16px;
			margin-bottom: 10px;
		}

		a {
			color: $white;
			font-size: 16px;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}

		>div {
			justify-content: flex-start;
			width: 18%;

			&.social {
				display: flex;
				justify-content: space-between;
				margin-bottom: 30px;
			}

			&:nth-child(2) {
				width: 25%;

				@media only screen and (max-width: $lg-breakpoint) {
		        	width: 70%;
		    	}
			}

			@media only screen and (max-width: $lg-breakpoint) {
	        	width: 70%;
	    	}
		}

		p {
			margin: 0;

			&.copyright {
				margin-top: 40px;
			}
		}
	}
}