.internal_wrapper {

	.page-template-grpp,
	.page-template-grpp-nohero,
	.page-template-grpp-specs,
	.page-template-grpp-about  {

		header {
			.navigation{
				padding: 20px 0;
			}
		}

		.hero {
			.container {
				align-items: flex-start;

				h1, h2 {
					text-align: left;
					text-shadow: #000 1px 0 10px;
				}
			}

			background-position: right !important;

			@media screen and (max-width: $lg-breakpoint) {
					background-position: -900px 0 !important;
			}
			@media screen and (max-width: $md-breakpoint) {
					background-position: -1100px 0 !important;
			}
		}

		.gray-box {
			background: $off-black;
			
			.container {
				padding: 0px;
			}

			h1,h2 {
				color: $white;
				margin-top: 50px;
				text-align: left;
				width: 100%;
			}

			p {
				color: $white;
				margin-bottom: 50px;
			}
		}

		.maintext {
			background: url('../img/background-3.png') no-repeat;
			background-size: cover;
			background-position: center bottom;

			.container {
				h2 {
					font-weight: 800;
				}

				p {
					color: $black;
				}
			}
		}

		.brown-bg {
			background: url('../img/solutions/contact-bg.jpg') no-repeat;
			background-size: cover;
			padding: 50px 0;

			&.contact {

				h3 {
					color: $white;
					font-size: 50px;

					a {
						color: $white;
						font-size: 50px;
					}
				}
			}


			a {

				h3 {
					color: $white;
					text-align: center;
					font-size: 30px;
					font-weight: bold;
					margin-bottom: 0;
				}

				>div {
					text-align: center;

					@media screen and (max-width: $lg-breakpoint) {
				        margin-top: 40px;
				    }

				    h3 {
						color: $white;
						margin: 20px 0 10px;
						font-weight: 600;
					}

					p {
						color: $white;
						text-transform: uppercase;
						margin-top: 0;
						text-align: center;
					}
				}
			}


			.container {
				align-items: center;
				justify-content: center;
			}
		}

		.bottom-content {
			background: url('../img/grpp/stripe-line-graphic.png') no-repeat;
			background-size: 50%;

			.container {
				padding: 0;
			}

			.grid {

				a {
					align-items: center;
					background: $off-black;
					color: $white;
					display: flex;
					font-size: 20px;
					font-weight: normal;
					justify-content: center;
					margin-right: 10px;
					padding: 30px;
					text-transform: none;
					text-align: center;
				}

				@media screen and (max-width: $lg-breakpoint) {
					margin-top: 0px;
				}
			}
		}

		.service-products {

			.grid {
				>div {
					height: 380px;
					background: url('../img/grpp/services-weather.png') no-repeat;
					background-size: cover;
					background-position: center;

					&:nth-child(2) {
						background: url('../img/grpp/services-fast-packs.png') no-repeat;
						background-size: cover;
					}

					&:nth-child(3) {
						background: url('../img/grpp/services-image-tri-wall.png') no-repeat;
						background-size: cover;

					}

					h2 {
						color: $white;
						margin-bottom: 0;
						text-align: center
					}
				}
			}
		}

		.specifications {
			background: url('../img/grpp/stripe-line-graphic-brwn.png') no-repeat $off-black;
			background-position: left;
			color: $white;

			@media screen and (max-width: $md-breakpoint) {
				padding: 20px;
			}

			.container {
				position: relative;
				padding: 40px;

				table {
					display: block;
					margin-left: 50px;

					@media screen and (max-width: $md-breakpoint) {
						margin-left: 0;
					}

					&.open {
						display: block;
					}
				}
			}

			.table-container {
					display: flex;
					justify-content: space-around;
					max-height: 0;
					overflow: hidden;
					width: 100%;

					img {
						margin: 0 40px;
					}

					&.open {
						max-height: 1000px;
					}
				}

			h2 {
				color: $white;
				font-size: 40px;
				margin-top: 50px;
				text-align: left;
				width: 100%;
			}

			h3 {
				border-bottom: 2px solid $white;
				color: $white;
				cursor: pointer;
				text-align: left;
				padding: 10px 0;
				position: relative;
				width: 100%;

				i {
					background: $white;
					color: $table-gray;
					padding: 6px;
					position: absolute;
					right: 0px;
					transform: rotate(180deg);
					transition: all .3s ease-out;
					pointer-events: inherit;

					&.open {
						transform: rotate(0deg);
					}
				}
				@media screen and (max-width: $md-breakpoint) {
					font-size: 1em;
				}
			}

			th {
				background: $white;
				border-right: 1px solid black;
				color: $table-gray;
				padding-left: 20px;
			}

			td {
				border-right: 1px solid black;
				padding-left: 20px;
				background: $table-gray;

				@media screen and (max-width: $md-breakpoint) {
					font-size: 12px;
				}
			}

			&.light {
				background: none;

				h3 {
					border-bottom: 2px solid $black;
					color: $black;
				}

				i {
					background: $table-gray;
					color: $white;
				}

				th {
					background: $table-gray;
					border-right: 1px solid black;
					color: $white;
					padding-left: 20px;
				}

				td {
					background: #c6c6c6;
					border-right: 1px solid black;
					color: $table-gray;
				}
			}
		}

		.custom-sizes {
			
			>div {
				align-items: center;
				box-shadow: 10px 10px 14px -5px rgba(0,0,0,0.75) inset;
				-webkit-box-shadow: 10px 10px 14px -5px rgba(0,0,0,0.75) inset;
				-moz-box-shadow: 10px 10px 14px -5px rgba(0,0,0,0.75) inset;
				display: flex;
				flex-direction: column;
				justify-content: center;

				&:first-child {
					background: url('../img/grpp/corrugated-sheets-image.png') no-repeat $off-black;
					background-size: cover;
					color: $white;

					p {
						text-align: center;
						font-size: 50px;
						line-height: 56px;
						margin: 0px;
						padding: 0;

						&:nth-child(2) {
							font-size: 46px;
							font-weight: bold;
						}

						&:nth-child(3) {
							font-size: 30px;
						}
					}
				}

				&:nth-child(2) {
					align-items: flex-start;
				}
			}
		}

		.stone-bg {
			background: url('../img/grpp/water-resistant-boxes-image.png') no-repeat $off-black;
			color: $white;
			
			p {
				text-align: center;
				width: 100%;
				text-transform: uppercase;
				font-size: 2em;
			}
		}
	}
}
