// Header styles fof the Vibrant rebrand //

header {
	background: $black;
	border-top: 15px solid $brown;
	box-shadow: 0px 7px 11px -8px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 7px 11px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 7px 11px -8px rgba(0,0,0,0.75);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;

	@media only screen and (max-width: $md-breakpoint) {
		position: relative;
	}

	.btn {
		margin: 0 10px;

		a {
			padding: 10px 20px;
		}
	}

	.navigation {
		align-items: center;
		font-weight: bold;
		display: flex;
		font-size: 1.3em;
		justify-content: space-between;
		text-transform: uppercase;
		padding: 30px 0;
		top: 0;
		width: 100%;
		z-index: 3;

		@media only screen and (max-width: $md-breakpoint) {
			justify-content: center;
		}

		.button-wrapper {
			
			@media only screen and (max-width: $md-breakpoint) {
				font-size: .8em;
				margin-top: 50px;
			}
		}

		.logo {
			margin-left: 50px;
		}

		>div {
			display: flex;
			//margin: 0 80px;

			@media only screen and (max-width: $md-breakpoint) {
				margin: 0 10px;
			}	

		}

	.toggle-wrapper {
			display: flex;
			flex-direction: column;
			width: 30px;
			height: 26px;
			position: relative;
			margin-top: -20px;
			z-index: 5;

			@media only screen and (min-width: $md-breakpoint) {
				display: none;
			}	

			p {
				color: $white;
				font-size: 0.6em;
				margin: 25px 0 0 -1px;
			}
		}

	.menu-toggle {
			cursor: pointer;		

			.bg {
				display: block;
				width: 100%;
				height: 30px;
				position: absolute;
				
			}

			.bar {
				background: $white;
				display: block;
				height: 2px;
				position: absolute;
				width: 100%;
				top: 10%;

				&:nth-child(2){
					top: 50%;
				}
				&:nth-child(3){
					top: 90%;
				}
			}

			&.active {

				.bar {
					//background: $white;
					transition: $menu-transition;
					
					&:first-child {
						transform: rotate(-45deg);
						top: 50%;
					}

					&:nth-child(2) {
						opacity: 0;
					}

					&:nth-child(3) {
						transform: rotate(45deg);
						top: 50%;
					}
				}
			}

			&.inactive {

				.bar {
					transition: $menu-transition;
					
					&:first-child {
						transform: rotate(0);
						top: 20%;
					}

					&:nth-child(2) {
						opacity: 1;
					}

					&:nth-child(3) {
						transform: rotate(0);
						top: 80%;
					}
				}
			}
		}

		.nav {
            align-items: center;
            display: flex;
            font-weight: 700;
            justify-content: flex-end;
            margin: 0;
            padding-left: 0;
            text-align: right;
            z-index: 10;

            @media screen and (max-width: $xl-breakpoint) {
                justify-content: center;
            }

            @media screen and (max-width: $md-breakpoint) {
                align-items: flex-end;
                background: $black;
                display: none;
                font-size: 16px;
                left: 0;
                top: 130px;
                min-height: 1000px;
                position: fixed;
                width: 100%;
            }

            @include flex-col-layout($md-breakpoint);

            &.active {
            	display: block;
            }

            >li {
                color: $white;
                display: flex;
                font-weight: normal;
                flex-direction: column;
                justify-content: flex-start;
                margin: 0 3px 0;
                padding: 0 10px;
                text-align: left;
                text-decoration: none;

                a {
                	color: $white;
                	text-decoration: none;
                }

                >.submenu {
                    max-height: 0;
                    margin-top: -1px;
                    overflow: hidden;
                    padding: 0;
                    position: absolute;
                    top: 140px;
                    transition: all .4s ease-out;
                    z-index: 2;

                    >.nav-item {
                    	//background: $black;
						/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#36a6dc+0,36a6dc+47,36a6dc+47,3667b1+47,3667b1+100 */
						background: $black; /* Old browsers */
						transition: all .2s ease-out;
                    	border-top: 0;
                    	border: $white 1px solid;
                    	padding: 10px;
                    	position: relative;

                    	&:hover {
                    		background: $black;

                			a {
                				color: $black;
                				display: block;
                				height: 100%;
                				width: 100%;
                			}
                		}
                    }

                    .submenu {
                    	display: none;
                    	margin-bottom: 0;
                    	margin-top: 10px;

                    	.nav-item {
                    		color: white;
                    		margin-bottom: 0;
                    		padding: 5px 0 5px 20px;
                    		border: 0;

                    		&:hover {
                    			background: $black;
                 				
                 				a {
                 					color: $white;
                 				}
                    		}
                    	}
                    }

                    @media screen and (max-width: $md-breakpoint) {
						max-width: 60%;
						right: 0;
						top: 0;

						 >.nav-item {
						 	border-top: 1px solid white;
						 	border-left: 1px solid white;
						 	margin-top: 0;
						 	//padding: 0;

						 	&:last-child {
						 		border-bottom: 1px solid white;
						 	}
							
							a {
								//padding: 0 10px;
							}

						 }

						 .submenu {
						 	display: none;
						 }
                    }
                }

                &:hover {
                    
                    .submenu {
                        max-height: 800px;
                    }
                }


                @media screen and (max-width: $md-breakpoint) {
                    background: $black;
                    border-bottom: 1px solid white;
                    font-size: 1.2em;
                    height: auto;
                    position: relative;
                    margin: 0;
                    text-align: left;
                    width: 100%;

                    a {
                        align-items: center;
                        color: white;
                        display: flex;
                        height: 60px;
                        width: 100%;

                        &:hover {
                            color: white;
                        }
                    }
                }
            }
        }
	}
}
